autopep8==2.0.2
bcrypt==4.0.1
blinker==1.6.2
certifi==2022.12.7
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.6
distlib==0.3.6
dnspython==2.3.0
email-validator==2.0.0.post2
filelock==3.12.0
Flask==2.3.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
greenlet==2.0.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
numpy==1.24.3
Panda3D==1.10.13
panda3d-gltf==0.14
panda3d-simplepbr==0.10
perlin-noise==1.12
Pillow==9.5.0
platformdirs==3.5.0
psycopg==3.1.9
psycopg-binary==3.1.9
psycopg-pool==3.1.7
psycopg2==2.9.6
pycodestyle==2.10.0
pyperclip==1.8.2
pyTelegramBotAPI==4.11.0
python-dotenv==1.0.0
requests==2.29.0
screeninfo==0.8.1
SQLAlchemy==2.0.15
tomli==2.0.1
typing_extensions==4.6.2
tzdata==2023.3
urllib3==1.26.15
ursina==4.1.1
UrsinaNetworking==2.1.4
virtualenv==20.23.0
Werkzeug==2.3.4
WTForms==3.0.1
