{% extends 'layout.html' %}

{% block content %}

<div class="post">
    <div class="user_post">
        <div class="user_info_single_post">
            <div class="left_side">
<img src="{{ url_for('static', filename='profile_pics/' + post.author.username + '/account_img/' + post.author.image_file) }}"
     alt="" class="mr-3 mt-3 rounded-circle" style="width:40px;">

<a class="mr-2" href="{{ url_for('user.user_posts', username=post.author.username)}}">{{ post.author.username }}</a>
<small class="text-muted">{{ post.date_posted.strftime('%d.%m.%Y-%H.%M') }}</small>
{% if post.author == current_user %}
</div>
            <div class="right_side">
<a class="btn btn-secondary btn-sm m-2" href="{{ url_for('post.update_post', post_id=post.id) }}">Обновить</a>
<button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Удалить
</button>

{% endif %}
                </div>
            </div>

<h2 class="article-title" align="left"> {{ post.title }}</h2>
            <p class="article-content" align="left" >{{ post.content}}</p>
<img src="{{ image_file }}" alt="post_img">

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Удалить пост?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Удалить"></button>
            </div>
            <div class="modal-body">
                Вы точно хотите удалить этот пост?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                <form action="{{ url_for('post.delete_post', post_id=post.id) }}" method="post">
                    <input type="submit" class="btn btn-danger" value="Удалить">

                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}